[Unit]
Description=Update external IP Address in cloudflare

[Service]
User=<user>
Group=<group>
Type=oneshot
ExecStart=/bin/bash <script-path>/cloudflare-dns-update.sh
